*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
}

#pokemonStage{
    background: url('https://i.ibb.co/K6Zn2zx/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    padding: 25px;
}
header h1{
    margin-bottom: 30px;
    color: white;
    font-size: 75px;
}

#cards{
    display: flex;
    color: white;
    height: 1000px;
}
#cards div{
    margin: auto;
    padding: 50px;
}
#pokemonBattle{
    font-size: 30px;
    color: white;
    text-align: center;
}

button{
    font-size: 50px;
    padding: 10px;
}