*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body{
    background-color: #4CAF50;
}

/* #pokemonStage{
    background: url('https://i.ibb.co/K6Zn2zx/background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

header{
    text-align: center;
    color: whitesmoke;
}
header p{
    margin-bottom: 15px;
}

#cards{
    display: flex;
    color: white;
}
#cards div{
    margin: auto;
    padding: 50px;
}
#pokemonBattle{
    font-size: 30px;
    color: white;
    text-align: center;
    background-image: url('img/pkm-text-box');
}

button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
    border-radius: 25px;
}

.container{
    padding: 100px;
}